/* Master Styles */
h1 {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
}
h2, h3 {
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
  background: url("file1.jpg");
  background-color: #a3e77e;
  opacity: 50%;
}
body, input[text], button {
  color: rgb(63, 63, 63);
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #7eb8e7;
  color: rgb(207, 207, 207);
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #7eb8e7;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #7eb8e7;
  background-color: #CFD8DC;
}
nav a.active {
  color: #7eb8e7;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
