<div class="col-md-6 col-md-offset-3">
  <h1>Registar Nova Receita</h1>
  <div class="w3-section">
    <label>
      <b>ID do Paciente: </b>
      <input class="w3-input w3-border" type="text" name="utente" [(ngModel)]="model.utente" #utente="ngModel" required placeholder="ID">
    </label>
  </div>
  <div class="w3-section">
    <div class="row">
      <button class="button button1" (click)="createReceita(utente.value)">Criar</button>
      <button class="button button1" (click)="goBack()">Cancelar</button>
    </div>
  </div>
  <br>
  <div *ngIf=receitas != null>
    ID da nova receita: {{receita.id}}
  </div>
</div>