<div class="col-md-6 col-md-offset-3">
  <h1>Registar Nova Prescricao</h1>
  <div class="w3-section">
    <label>
      <b>ID da receita:</b>
      <input type="text" readonly="readonly" data-placeholder="{{idRec}}">
    </label>
  </div>
  <div class="w3-section">
    <label>
      <b>Apresentação:</b>
      <input class="w3-input w3-border" type="number" name="apresentacao" [(ngModel)]="model.apresentacao" #apresentacao="ngModel"
        required placeholder="ID">
    </label>
  </div>
  <div class="w3-section">
    <label>
      <b>Número de caixas:</b>
      <input class="w3-input w3-border" type="number" name="quantidade" [(ngModel)]="model.quantidade" #quantidade="ngModel" required
        placeholder="Numero">
    </label>
  </div>
  <div class="w3-section">
    <label>
      <b>Número de dias de toma:</b>
      <input class="w3-input w3-border" type="number" name="dias" [(ngModel)]="model.dias" #dias="ngModel" required placeholder="Numero">
    </label>
  </div>
  <div class="w3-section">
    <label>
      <b>Intervalo de toma (em horas):</b>
      <input class="w3-input w3-border" type="number" name="intervalo" [(ngModel)]="model.intervalo" #intervalo="ngModel" required
        placeholder="Numero">
    </label>
  </div>
  <div class="w3-section">
    <label>
      <b>Validade:</b>
      <input class="w3-input w3-border" type="text" name="validade" [(ngModel)]="model.validade" #validade="ngModel" required placeholder="Data(YYYY-MM-DD)">
    </label>
  </div>
  <button class="button button1" (click)="createPrescricao(apresentacao.value, quantidade.value, dias.value, intervalo.value, validade.value);">Criar</button>
  <button class="button button1" (click)="goBack()">Cancelar</button>
</div>