<h1>Apresentações de Medicamentos</h1>
  <div class="w3-section">  
    <label><b>Nome do medicamento:</b></label>
    <p>
      <input type="text" #nome placeholder="Ben-u-ron" required>
      <button class="button button1" (click)="getApresentacoes(nome.value)">Procurar</button>
    </p>
  </div> 
  <br>
  <div >  
    <div *ngIf="apresentacoes.length == 0">
      Não foram encontradas apresentações deste medicamento.
    </div>
   <ul>
      <li *ngFor="let apresentacao of apresentacoes"> <font size="5"><b>Id da Apresentação: </b></font>{{apresentacao.id}}
        <ul style="list-style-type: circle;">
          <li style="text-align: left;"><b>Quantidade: </b>{{apresentacao.tamanhoEmbalagem}}</li>
          <li style="text-align: left;"><b>Forma: </b>{{apresentacao.formaFarmaceutica}}</li>
          <li style="text-align: left;"><b>Concentração: </b>{{apresentacao.dosagem}}</li>
        </ul>
      </li>
    </ul>
  </div>