<h2>Comentar apresentação de fármaco</h2>
<div class="w3-section">
  <label>Nome do fármaco: 
    <input type="text" #nome>
  </label>
</div>
<div class="w3-section">
  <label>ID de apresentação:
    <input type="number" #apresentacao_id>
  </label>
</div>
<div class="w3-section">
  <label>Comentário:
    <input type="text" #comentario>
  </label>
</div>
<div class="w3-section">
    <button class="button button1" (click)="comentarApresentacao(nome.value, apresentacao_id.value, comentario.value)">Adicionar</button>
</div>

<!-- Arranjar maneira de mostrar as apresentacoes de farmaco-->