.w3-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}

.w3-animate-bottom{position:relative;animation:animatebottom 1s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}

.rcorners1 {
    border-radius: 35px;
    background: #7eb8e7;
    padding: 10px; 
    width: 500px;
    height: auto; 
}

li{
    margin: 10px 0;
  }