<html>

  <div style="text-align: center;" class="w3-animate-zoom">
    <h1>Bem-vindo/a!</h1>
  </div>

  <div style="text-align: left;" class="w3-animate-bottom">
    <h2>Últimas receitas passadas:</h2>
    <li *ngFor="let receita of receitas" class="rcorners1" style="text-align: left;">
        <font size="4"><b>{{"Id da Receita: " + receita.id}} </b></font>
        <ul style="list-style-type: square;">
            <li style="text-align: left;"><b>Prescrições: </b></li>
          <ul class="ul2">
              <li class="li2" *ngFor="let prescricao of receita['prescricoes']" (click)="getPrescricao(prescricao, receita.id)" >
                <p align="left">Id: {{prescricao}}</p>
              </li>
            </ul>
        </ul>
    </li>
  </div>

</html>