<div class="col-md-6 col-md-offset-3">
  <h1>Registar um novo utilizador</h1>
  <div class="w3-content">
    <div class="w3-section">
      <label>
        <b>Nome: </b>
        <input class="w3-input w3-border" type="text" name="nome" [(ngModel)]="model.nome" #nome="ngModel" required placeholder="Nome">
      </label>
    </div>
    <div class="w3-section">
      <label>
        <b>Email: </b>
        <input class="w3-input w3-border" type="text" name="email" [(ngModel)]="model.email" #email="ngModel" required placeholder="example@email.com">
      </label>
    </div>
    <div class="w3-section">
      <label>
        <b>Facebook ID: </b>
        <input class="w3-input w3-border" type="number" #facebook placeholder="100000105555424">
      </label>
    </div>
    <div class="w3-section">
      <label>
        <b>Password: </b>
        <input class="w3-input w3-border" type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required
          placeholder="Password">
      </label>
    </div>
    <div class="row">
      <button class="button button1" (click)="createUser(nome.value, password.value, email.value, facebook.value)">Criar</button>
      <button class="button button1" (click)="goBack()">Cancelar</button>
    </div>
    <div class="alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      Warning: Avisamos que os seus dados serão usados para criação de receitas e prescrições em seu nome. 
      Link:
      <a href="url">goo.gl/euq3qy</a>
    </div> 
  </div>
</div>