<h1>{{title}}</h1>
<nav>
<a *ngIf="userInfo && userInfo.utente" routerLink="/dashboardutente">Dashboard Utente</a>
 <a routerLink="/apresentacoes">Apresentações Medicamentos</a>
 <a *ngIf="userInfo && userInfo.medico" routerLink="/receitas">Receitas</a>
 <a *ngIf="userInfo && userInfo.medico" routerLink="/comentar">Comentar Apresentação</a>
 <a *ngIf="userInfo && userInfo.utente" routerLink="/receitasU">Receitas</a>
 <a routerLink="/register">Registo</a>
 <a *ngIf="!userInfo" routerLink="/login">Login</a>
 <a *ngIf="userInfo" routerLink="/login">Logout</a>
</nav>
<router-outlet></router-outlet>