<div class="col-md-6 col-md-offset-3">
  <h1>Receitas</h1>
  <div>
    <ul>
      <li *ngFor="let receita of receitas" class="col"><font size="5"><b>Id da Receita: </b></font>{{receita._id}}
        <ul style="list-style-type: circle;">
          <li style="text-align: left;"><b>Médico: </b>{{receita.medico}}</li>
          <li style="text-align: left;"><b>Prescrições: </b></li>
          <ul class="ul2">
              <li class="li2" *ngFor="let prescricao of receita['prescricoes']" (click)="getPrescricao(prescricao, receita.id)" >
                <p align="left">Id: {{prescricao}}</p>
              </li>
            </ul>
          </ul>
        </li>
      </ul>
    </div>
    <div class="prescricaoDetalhada">
      <div>
        <font size="5">
          <b>{{"ID da Prescrição: " + prescricao.id}}</b>
        </font>
        <p>
          <font color="#333333">{{"Apresentação: " + prescricao.apresentacaoID}}</font>
        </p>
        <p>
          <font color="#333333">{{"Quantidade Receitada: " + prescricao.posologiaPrescrita.quantidade}}</font>
        </p>
        <p>
          <font color="#333333">{{"Número de dias de toma: " + prescricao.posologiaPrescrita.dias}}</font>
        </p>
        <p>
          <font color="#333333">{{"Intervalo de toma (em horas): " + prescricao.posologiaPrescrita.intervalo_horas}}</font>
        </p>
        <p>
          <font color="#333333">{{"Validade: " + prescricao.validade}}</font> 
        </p>
      </div>
    </div>
</div>