<html>

  <div style="text-align: center;" class="w3-animate-zoom">
    <h1>Bem-vindo/a!</h1>
  </div>

  <div class="w3-animate-bottom">
    <h2>Prescrições por aviar:</h2>
      <li *ngFor="let prescricao of prescricoes" class="rcorners1" style="text-align: left;">
        <font size="4"><b>{{"ID da Prescrição: " + prescricao.id}} </b></font>
        <ul style="list-style-type: circle;">
          <li style="text-align: left;">Data de Validade: {{prescricao.validade}}</li>
        </ul>
      </li>
  </div>

</html>